{% extends "base.html" %}
{% block body %}

<main>
    <section class="clear">
        <h1>contact info</h1>

        <p>[list of ways to SPAM me with ads]</p>
    </section>

    <section>
        <h1>About Me</h1><hr>

        <p>I'm a <span class="myAge"></span>-year-old&ast; guy from North Carolina who likes doing things differently. Whether it's music, art, programming, design, or anything else, I like putting my own spin on it.</p>

        <br>
        <h2>Music</h2>
        <p>I can't remember when I started making music, if that tells you anything. My style is all over the place, ranging from ambient to experimental EDM to harsh noise. I sing, play the flute, and play guitar as well.</p>

        <p>You can hear my music pretty much anywhere, but here's a link to <a href="https://www.youtube.com/endvisible">my YouTube channel</a>.</p>

        <br>
        <h2>Programming</h2>
        <p>I've been doing the code thing for about <span class="yearsCoding"></span> years. I got my start doing basic, horrible websites, literally written on a Nintendo DSi using a free website maker. I then branched off into Python, which I use for most of my projects today.</p>

        <br>
        <h2>Art &amp; Design</h2>
        <p>I really like designing things. I go from album covers to logos, from websites to book covers, and from vector art to memes. Want to see some examples of stuff I've done?</p>

        <p>[insert sample works here]</p>
    </section>
    <section class="clear">
        <h3>Footnotes</h3>
        <hr>

        &ast; <small>The age thing on this site is automatically calculated. If this site outlives me somehow, it'll just keep counting lol.</small>
    </section>
</main>

{% endblock body %}