{% extends "base.html" %}
{% block body %}

<main>
    <section class="clear">
        <h1>contact info</h1>

        <p>[list of contacts]</p>
    </section>

    <section>
        <h1>about me</h1><hr>

        <p>I'm a <span class="myAge"></span>-year-old guy from North Carolina who likes doing things differently. Whether it's music, art, programming, design, or anything else, I like putting my own spin on it.</p>

        <p>I've been doing the code thing for about <span class="yearsCoding"></span> years. I got my start doing basic, horrible websites, literally written on a Nintendo DSi using a free website maker. I then branched off into Python, which I use for most of my projects today.</p>

        <p>I really like designing things. I go from album covers to logos, from websites to book covers, and from vector art to memes. Want to see some examples of stuff I've done?</p>

        <p>[insert sample works here]</p>
    </section>
</main>

{% endblock body %}