<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>_piccoloser</title>

    <link rel="stylesheet" href="{{ url_for('static', filename = 'main.css') }}">
</head>
<body>
    <header id="top-bar">
        <h1><a href="{{ url_for('index') }}">_piccoloser</a></h1>

        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">home</a></li>
                <li><a href="{{ url_for('about') }}">about</a></li>
                <li><a href="{{ url_for('blog') }}">blog</a></li>
            </ul>
        </nav>
    </header>

    {% block body %}{% endblock %}
</body>
</html>