<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>_piccoloser</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename = 'favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'main.css') }}">
</head>
<body>
    <header id="top-bar">
        <h1><a href="{{ url_for('index') }}">_piccoloser</a></h1>

        <nav id="site-navigation">
            <ul>
                <li><a href="{{ url_for('index') }}">home</a></li>
                <li><a href="{{ url_for('about') }}">about</a></li>
                <li><a href="{{ url_for('blog') }}">blog</a></li>
                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('logout') }}">log out</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <button id="toggle-nav-button" onclick="toggleNavigation()"></button>
    <p id="toggle-nav-button-text">&#9776;</p>

    {% with messages = get_flashed_messages(with_categories = true) %}
        {% if messages %}
            <div id="message-stack">
                {% for category, message in messages %}
                    <div class="message message-{{ category }}">
                        <p>{{ message }}</p>
                        <a class="message-close">&#x2716;</a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    {% block body %}{% endblock %}

    <script src="{{ url_for('static', filename = 'script.js') }}"></script>
</body>
</html>