{% extends "base.html" %}
{% block body %}

<main class="with-sidebar">
    <div class="content">
        <header class="top-content">
            <strong>Top Bar Stuff</strong>
        </header>

        {% if current_user.is_authenticated %}
            <section>
                <a class="center large-text" href="{{ url_for('create_post') }}">
                    <b>&#9998; create a new post</b>
                </a>
            </section>
        {% endif %}

        {% for post in posts %}
            <section class="post-preview">
                <strong><a href="{{ url_for('post', post_id = post.id) }}">{{ post.title }}</a></strong>
                {{ post.content|markdown }}
            </section>
        {% endfor %}
    </div>
    <aside class="side-content">
        <strong>Sidebar Stuff</strong>
    </aside>
    
</main>


{% endblock body %}