{% extends "base.html" %}
{% block body %}

<main class="with-sidebar">
    <div class="content">
        <header class="top-content">
            <strong>Top Bar Stuff</strong>
        </header>

        {% if current_user.is_authenticated %}
            <section>
                <a class="center large-text" href="{{ url_for('create_post') }}">
                    <b>&#9998; create a new post</b>
                </a>
            </section>

            <h1 class="post-preview-header">Draft Posts:</h1>
            {% for post in posts if post.draft %}
                    <section class="post-preview post-draft">
                        <strong><a href="{{ url_for('post', post_id = post.id) }}">{{ post.title }}</a></strong>
                        {{ post.content|markdown }}
                    </section>
            {% endfor %}
            
        {% endif %}

        {% if current_user.is_authenticated %}
            <h1 class="post-preview-header">Public Posts:</h1>
        {% endif %}

        {% for post in posts if not post.draft %}

            <section class="post-preview">
                <strong><a href="{{ url_for('post', post_id = post.id) }}">{{ post.title }}</a></strong>
                {{ post.content|markdown }}
            </section>

        {% endfor %}
    </div>
    <aside class="side-content">
        <strong>Sidebar Stuff</strong>
    </aside>
    
</main>


{% endblock body %}