{% extends "base.html" %}
{% block body %}

<div id="showcase">
    <strong>Oh, hi there.</strong>

    <p>This thing's still under construction, but basically I'm a programmer, musician, and artist. This will eventually be my website, portfolio, and blog where I remind you that someone can always do it worse.</p>

    <p>I'm only relatively good at a few things.</p>

    <p>Now shoo, <a href="https://open.spotify.com/artist/4hHuSZu5o1ttbN1cpRchga?si=p_EZ21joTVSLxno-HcqqnA&dl_branch=1">get out of here.</a></p>
</div>

{% endblock body %}